<div class="container">
  <h1 class="text-center mb-4">Gestion des Utilisateurs</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Nom d'utilisateur</th>
        <th>Nom </th>
        <th>Prénom</th>
        <th>Email</th>
        <th>Téléphone</th>
        <th>Admin</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.username }}</td>
        <td>{{ user.lastname }}</td>
        <td>{{ user.firstname }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.telephone }}</td>
        <td>
          <input type="checkbox" [checked]="user.role === 'admin'" (change)="onRoleChange(user)">
        </td>
      </tr>
    </tbody>
  </table>
</div>
