<nav>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" [class.active]="selectedTab === 'mes-informations'" (click)="selectedTab = 'mes-informations'">Mes Informations</a>
    </li>
    <li *ngIf="isAdmin" class="nav_item">
      <a class="nav-link" [class.active]="selectedTab === 'create-game'" (click)="selectedTab = 'create-game'">Nouveau jeu</a>

    </li>
    <!-- Ajoutez d'autres onglets si nécessaire -->
  </ul>
</nav>

<div class="tab-content mt-3">
  <div *ngIf="selectedTab === 'mes-informations'">
    <app-user-info></app-user-info> <!-- Assurez-vous que le sélecteur est correct -->
  </div>
  <!-- Ajoutez les autres contenus pour les autres onglets -->
</div>
<div *ngIf="selectedTab === 'create-game'">
  <app-create-game></app-create-game>
</div>
