.game-card {
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff; /* Fond blanc */
  display: flex;
  flex-direction: column; /* Afficher en colonne */
}

.game-image {
  width: 100%;
  height: 200px; /* Hauteur uniforme pour les images */
  object-fit: contain; /* Assure que l'image s'ajuste sans la tronquer */
  border-bottom: 1px solid #ccc;
  cursor: pointer; /* Curseur pointer pour indiquer que l'image est cliquable */
}

.game-title {
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px;
  text-align: center; /* Centrage horizontal */
}

.game-details {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.column {
  flex: 1;
}

.orange-text {
  color: #ff6100; /* Orange pour les textes des attributs */
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #ff6100;
}
