body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #ff6100;
}

h1 {
  color: #a916bb;
}
.errors {
  list-style-type: none;
  padding: 0;
}

.errors li {
  color: red;
}

.alert {
  margin-top: 1rem;
}

.btn-custom-gradient {
  background: linear-gradient(140deg, #ff6100 40%, #a916bb 90%);
  color: #fff; /* Couleur du texte, à adapter selon le contraste souhaité */
  border: none; /* Retirer la bordure si nécessaire */
  /* Autres styles de bordure, ombre, etc. */
}

/* Si besoin d'autres styles personnalisés */
.container {
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -10px; /* Ajustement pour les marges négatives */
}

.col-md-3 {
  flex: 0 0 25%; /* Chaque jeu occupe 25% de la largeur */
  max-width: 25%; /* Maximum de la largeur à 25% */
  padding: 10px; /* Espacement entre les jeux */
}

.game-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff; /* Fond blanc */
}

.game-image {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
  cursor: pointer; /* Curseur pointer pour indiquer que l'image est cliquable */
}

.game-details {
  padding: 10px;
  display: flex;
}

.column {
  flex: 1;
}

.game-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
}

.orange-text {
  color: #ff6100;
}

