<div class="container">
  <h1 class="text-center mb-4">Jeux disponibles</h1>
  <form (submit)="searchGames()">
    <div class="row mb-4">
      <div class="col-md-3">
        <input type="text" class="form-control" placeholder="Nom" [(ngModel)]="searchParams.name" name="name">
      </div>
      <div class="col-md-3">
        <input type="text" class="form-control" placeholder="Type" [(ngModel)]="searchParams.type" name="type">
      </div>
      <div class="col-md-3">
        <input type="text" class="form-control" placeholder="Catégorie" [(ngModel)]="searchParams.category" name="category">
      </div>
      <div class="col-md-3">
        <input type="number" class="form-control" placeholder="Âge minimum" [(ngModel)]="searchParams.ageMin" name="ageMin">
      </div>
      <div class="col-md-3">
        <input type="text" class="form-control" placeholder="Difficulté" [(ngModel)]="searchParams.difficulty" name="difficulty">
      </div>
      <div class="col-md-3">
        <input type="text" class="form-control" placeholder="Auteur" [(ngModel)]="searchParams.author" name="author">
      </div>
      <div class="col-md-3">
        <input type="number" class="form-control" placeholder="Nombre de joueurs minimum" [(ngModel)]="searchParams.playerMin" name="playerMin">
      </div>
      <div class="col-md-3">
        <input type="number" class="form-control" placeholder="Nombre de joueurs maximum" [(ngModel)]="searchParams.playerMax" name="playerMax">
      </div>
      <div class="col-md-3">
        <input type="number" class="form-control" placeholder="Temps de jeu maximum (min)" [(ngModel)]="searchParams.partytime" name="partytime">
      </div>
      <div class="col-md-3">
        <button type="submit" class="btn btn-primary">Rechercher</button>
      </div>
    </div>
  </form>
  <div class="row">
    <!-- Utilisation de *ngFor pour itérer sur la liste de jeux -->
    <div class="col-md-3" *ngFor="let game of games">
      <!-- Carré représentant chaque jeu -->
      <div class="game-card">
        <!-- Lien cliquable vers la page du jeu -->
        <a [routerLink]="['/single-game', game._id]">
          <!-- Image du jeu avec lien -->
          <img class="game-image" [src]="game.image" alt="Game Image">
        </a>

        <!-- Nom du jeu -->
        <div class="game-title">{{ game.name }}</div>

        <!-- Détails du jeu en deux colonnes -->
        <div class="game-details">
          <!-- Première colonne -->
          <div class="column">
            <div><span class="orange-text">Type:</span> {{ game.type }}</div>
            <div><span class="orange-text">Catégorie:</span> {{ game.category }}</div>
          </div>

          <!-- Deuxième colonne -->
          <div class="column">
            <div><span class="orange-text">Âge minimum:</span> {{ game.ageMin }}</div>
            <div><span class="orange-text">Difficulté:</span> {{ game.difficulty }}</div>
            <div><span class="orange-text">Nombre de joueurs:</span> {{ game.playerMin }} - {{ game.playerMax }}</div>
            <div><span class="orange-text">Temps de jeu:</span> {{ game.partytime }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
