<!-- src/app/admin/create-game/create-game.component.html -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <h1 class="text-center mb-4">Mes Informations</h1>
      <form [formGroup]="createGameForm" (ngSubmit)="onSubmit()">
        <div>
          <label for="name">Nom du jeu</label>
          <input id="name" formControlName="name" class="form-control" type="text">
        </div>
        <div>
          <label for="type">Type</label>
          <input id="type" formControlName="type" class="form-control" type="text">
        </div>
        <div>
          <label for="category">Catégorie</label>
          <input id="category" formControlName="category" class="form-control" type="text">
        </div>
        <div>
          <label for="ageMin">Âge minimum</label>
          <input id="ageMin" formControlName="ageMin" class="form-control" type="number">
        </div>
        <div>
          <label for="difficulty">Difficulté</label>
          <input id="difficulty" formControlName="difficulty" class="form-control" type="text">
        </div>
        <div>
          <label for="author">Auteur</label>
          <input id="author" formControlName="author" class="form-control" type="text">
        </div>
        <div>
          <label for="playerMin">Nombre minimum de joueurs</label>
          <input id="playerMin" formControlName="playerMin" class="form-control" type="number">
        </div>
        <div>
          <label for="playerMax">Nombre maximum de joueurs</label>
          <input id="playerMax" formControlName="playerMax" class="form-control" type="number">
        </div>
        <div>
          <label for="description">Description</label>
          <textarea id="description" class="form-control" formControlName="description"></textarea>
        </div>
        <div>
          <label for="image">Image</label>
          <input id="image" formControlName="image" class="form-control" type="text">
        </div>
        <div>
          <label for="partytime">Temps de partie (minutes)</label>
          <input id="partytime" formControlName="partytime" class="form-control" type="number">
        </div>
        <div>
          <label for="rules">Lien vers les règles</label>
          <input id="rules" formControlName="rules" class="form-control" type="text">
        </div>
        <div>
          <button class="btn btn-success btn-custom-gradient w-100 mt-3" type="submit">Créer le jeu</button>
        </div>
      </form>
    </div>
  </div>
</div>
