<footer>
	<div class="footer-container">
		<div class="footer-top">
			<ul>
				<li><a href="#">www.opbc.fr</a></li>
				<li><a href="https://larochoise.com/" target="blank_" title="Brasserie La Rochoise">La Rochoise</a></li>
				<li><a href="https://www.bs.fr/" target="blank_" title="Les Brasseurs Savoyards">Les Brasseurs Savoyards</a></li>
				<li><a href="https://fonts.google.com/" target="blank_" title="Google Fonts">Google Fonts</a></li>
				<li><a href="../notice.php">Mentions légales</a></li>
			</ul>
		</div>

		<div class="footer-top-alt">
			<a href="../notice.php">Mentions légales</a>
		</div>

		<div class="footer-bot">

			<p>www.opbc.fr | Ô P'tit Bonheur la Chance | 188 Avenue du Léman 74890 Bons-en-Chablais | 2023</p>
		</div>
	</div>
</footer>
